*/node_modules/*
backend/BiteSwipe.code-workspace

# Terraform
**/*.tfvars
**/*.tfstate
**/*.tfstate.*
**/.terraform/
**/.terraform.lock.hcl
frontend/.idea
frontend/app/src/main/res/raw
backend/.env
backend/biteswipe-132f1-firebase-adminsdk-fbsvc-76c5bb6fe5.json
backend/key.pem
backend/cert.pem
*/dist/*
