

**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/.terraform.lock.hcl
**/.terraform/
*.crt
*.key
*/.codacy-cache/*
*/codacy-results.json
*/codacy/.env
*/coverage/*
*/dist/*
*/node_modules/*
*frules
.bin
.codacyignore
.env
.zsh_history
backend/.env
backend/.zsh_history
backend/BiteSwipe.code-workspace
backend/biteswipe-132f1-firebase-adminsdk-fbsvc-76c5bb6fe5.json
backend/cert.pem
backend/key.pem
backend/scripts/codacy/*_analysis*.json
backend/scripts/codacy/.env
bin
firebase-service-account.json
frontend/.idea
frontend/app/src/main/res/raw
test.env